*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "lato", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

main{
    display: flex;
    padding: 50px;
    margin: 0 auto;
    width: 1020px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 44px;
}

header{
    display: flex;
    height: 100px;
    padding: 18px 120px;
    justify-content: space-between;
    background: var(--Linear-Menu, linear-gradient(180deg, #014180 0%, #014D99 100%));
}

.logo-mobile{
    display: none;
}

header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.header-link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}

.header-link .titulo{
    color: #8492A6;
    font-size: 16px;
    font-weight: 400;
}

.header-link .awe-link{
    color: var(--Gray, #8492A6);
    font-size: 21px;
    font-weight: 400;
    line-height: 120%;
}

.header-link .awe-link a{
    color: #2648A1;
    font-size: 21px;
    font-weight: 400;
}

.header-title{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
}

.header-title p{
    color: var(--Gray, #8492A6);
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.header-title h2{
    color:  #2648A1;
    font-size: 38px;
    font-weight: 700;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
    align-self: stretch;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: stretch;
}

.skills .items-row{
    display: flex;
    gap: 14px;
    justify-content: space-between;
}

.skills .items-row .item{
    display: flex;
    padding: 15px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    color: #224586;
    border: 1.042px solid #2648A1;
    transition: background 0.2s ease-in-out;
}

.skills .items-row .item:hover{
    background: var(--ui-color-primary-dark, #224586);
}

.skills .items-row .item:hover *{
    color: white;
}

.membros{
    display: flex;
    width: 1020px;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.membros .card{
    display: flex;
    width: 326px;
    height: 512px;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.membros .card .card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

.membros .card .card-content a{
    color: var(--Aco, #273444);
}

.button{
    display: flex;
    width: 320px;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
    border: 1px solid var(--ui-color-primary, #2648A1);
    box-shadow: -5px 5px 0px 0px #2648A1;
    cursor: pointer;
}

.button p{
    color: var(--ui-color-primary, #2648A1);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.elemento-destaque{
    display: flex;
    width: 100%;
    padding: 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    background: #FDB32F;
    color: var(--ui-color-primary-dark, #224586);
}

.elemento-destaque .awe-insta{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.elemento-destaque .awe-insta a{ 
    color: var(--ui-color-primary-dark, #224586);
    font-size: 16px;
    font-style: italic;
}

.elemento-destaque p{ 
    width: 225px;
    text-align: center;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}

footer{
    display: flex;
    height: 492px;
    padding-top: 72px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background: var(--linear-azul-2, linear-gradient(90deg, #213F8C 50%, #1E3980 69.17%, #1B3373 100%));
    color: #fff;
}

footer .content{
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
}

footer .content .title{
    width: 406.848px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
}

footer .content .title span{
    width: 406.848px;
    color: #FFC82C;
}

footer .content .bottom-info{
    display: flex;
    width: 1120px;
    align-items: flex-start;
    gap: 64px;
}

footer .content .bottom-info .title{
    color: var(--White, #FAFAFA);
    font-size: 18px;
    font-weight: 100;
}

footer .content .bottom-info .text{
    color: var(--White, #FAFAFA);
    font-size: 18px;
    font-weight: 500;
}

footer .content .bottom-info .midias, .email, .endec{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .logo-awe{
    display: flex;
    height: 88px;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-top: 0.5px solid var(--ui-color-primary-light, #3A95E9);
}

@media (max-width: 568px) {
    body{
        overflow-x: hidden;
    }

    header{
        padding: 18px 24px;
    }
    .logo-desktop{
        display: none;
    }
    .logo-mobile{
        display: inline-block;
        width: 80px;
    }
    main{
        width: 100%;
    }

    .header-title h2{
    font-size: 24px;
    }
    .skills .items-row{
        overflow-x: scroll;
    }
    .skills .items-row .item {
        padding: 6px 22px;
    }

    .membros{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .button{
        width: 100%;
    }

    footer {
        padding-top: 40px;
      }
      footer .content,
      footer .content .bottom-info {
        width: 100%;
        padding: 0 16px;
      }
}

